<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card" id="list1" style="border-radius: .75rem; background-color: #eff1f2;">
            <div class="card-body py-4 px-4 px-md-5">
  
              <p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
                <i class="fas fa-check-square me-1"></i>
                MY TODO-S 
              </p>
  
              <div class="pb-2">
                <form>
                    <div class="mb-3">
                      <label class="form-label">Event</label>
                      <input [(ngModel)]="ename" type="text" class="form-control" name="ename">
                    </div>
                    <div class="mb-3">
                      <label  class="form-label">Description</label>
                      <input [(ngModel)]="edes" type="text" class="form-control" name="edes" >
                    </div>
                    <div class="mb-3">
                      <label  class="form-label">Date and Time</label>
                      <input [(ngModel)]="edate" type="date" class="form-control" name="edate" >
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="!(ename && edes && edate)" (click)="readdata()">ADD</button>
                  </form>
                </div>
              </div>
  
              <hr class="my-4">
  
              <div class="d-flex justify-content-end align-items-center mb-4 pt-2 pb-3">
                <p class="small mb-0 me-2 text-muted">Filter</p>
                <select class="select">
                  <option value="1">All</option>
                  <option value="2">Completed</option>
                  <option value="3">Active</option>
                  <option value="4">Has due date</option>
                </select>
                <p class="small mb-0 ms-4 me-2 text-muted">Sort</p>
                <select class="select">
                  <option value="1">Added date</option>
                  <option value="2">Due date</option>
                </select>
                <a href="#!" style="color: #23af89;" data-mdb-toggle="tooltip" title="Ascending"><i
                    class="fas fa-sort-amount-down-alt ms-2"></i></a>
              </div>
              <!-- table -->

              <table class="table">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Event</th>
                    <th scope="col">Description</th>
                    <th scope="col">Date</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of listofdatas" >
                    <td> <input type="checkbox"></td>
                    <td>{{i.ename}}</td>
                    <td>{{i.edes}}</td>
                    <td>{{i.edate}}</td>
                    <td>
                      <button class="btn btn-danger" (click)="deleteValue(i._id)">Delete</button>
                    </td>
                  </tr>
              </table>
              
            </div>
          </div>
        </div>
      </div>
  </section>
<router-outlet></router-outlet>
